PORT=3000
NODE_ENV=development

JWT_SECRET=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=

RABBITMQ_URL=amqp://localhost

GOOGLE_CLIENT_ID=

INTERNAL_SECRET=

CLIENT_URL=http://localhost:3000
FROM_EMAIL=noreply@example.com
RESEND_API_KEY=

AWS_BUCKET=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
